.sdk-list {
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}

.sdk-list a {
  color: var(--ifm-color-primary-contrast-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sdk-list a:hover {
  color: var(--ifm-color-primary-dark);
}