/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary-darkest: #143eb6;
  --ifm-color-primary-darker: #184cde;
  --ifm-color-primary-dark: #4a74eb;
  --ifm-color-primary: #6c8eef;
  --ifm-color-primary-light: #92abf3;
  --ifm-color-primary-lighter: #c4d1f9;
  --ifm-color-primary-lightest: #f8faff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-menu-color-active: var(--ifm-color-primary-dark);
  --ifm-hover-overlay: var(--ifm-color-primary-lightest);
  --ifm-code-background: var(--ifm-color-primary-lightest);
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-dark);
  --doc-sidebar-width: 260px !important;
  --ifm-heading-font-weight: 600;
  --ifm-global-radius: 0.2rem;
  --ifm-alert-border-left-width: 4px;
  --ifm-breadcrumb-border-radius: var(--ifm-global-radius);
  --ifm-button-padding-horizontal: 1rem;
  --ifm-table-stripe-background: var(--ifm-table-background);
}

table td, table th {
  border-left: none;
  border-right: none;
}

table thead tr {
  border-bottom: none;
}

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.tabs {
  box-shadow: 0 -1px 0 0 var(--ifm-toc-border-color) inset;
}

.tabs__item {
  border-bottom-width: 2px;
}

code {
  border: none;
  /*color: var(--ifm-color-primary-darker);*/
}

.alert {
  box-shadow: none;
}

@media (min-width: 1100px) {
  .docMainContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Main-styles-module {
    padding-left: 5rem;
  }
}

a.cardContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module {
  box-shadow: none;
}

a.cardContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocCard-styles-module:hover {
  box-shadow: none;
}

.codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2) !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /*--ifm-color-primary: #25c2a0;*/
  /*--ifm-color-primary-dark: #21af90;*/
  /*--ifm-color-primary-darker: #1fa588;*/
  /*--ifm-color-primary-darkest: #1a8870;*/
  /*--ifm-color-primary-light: #29d5b0;*/
  /*--ifm-color-primary-lighter: #32d8b4;*/
  /*--ifm-color-primary-lightest: #4fddbf;*/
  /*--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);*/
}
